/* Raleway */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Raleway/raleway-v27-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/Raleway/raleway-v27-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/Raleway/raleway-v27-latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/fonts/Raleway/raleway-v27-latin-regular.woff") format("woff"),
		/* Modern Browsers */ url("/fonts/Raleway/raleway-v27-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/Raleway/raleway-v27-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}

/* trirong-100 - latin */
@font-face {
	font-family: "Trirong";
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/Trirong/trirong-v11-latin-100.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/Trirong/trirong-v11-latin-100.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/Trirong/trirong-v11-latin-100.woff2")
			format("woff2"),
		/* Super Modern Browsers */ url("/fonts/Trirong/trirong-v11-latin-100.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/Trirong/trirong-v11-latin-100.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/Trirong/trirong-v11-latin-100.svg#Trirong") format("svg"); /* Legacy iOS */
}

/* maitree-500 - latin */
@font-face {
	font-family: "Maitree";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/Maitree/maitree-v10-latin-500.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/Maitree/maitree-v10-latin-500.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/Maitree/maitree-v10-latin-500.woff2")
			format("woff2"),
		/* Super Modern Browsers */ url("/fonts/Maitree/maitree-v10-latin-500.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/Maitree/maitree-v10-latin-500.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/Maitree/maitree-v10-latin-500.svg#Maitree") format("svg"); /* Legacy iOS */
}

:root {
	background-color: #bedfce;
}

h1 {
	font-family: "Raleway";
}

h2 {
	font-family: "Trirong";
}

body {
	font-family: "Maitree";
	margin: 0;
	padding: 0;
}
